body{
    background-color: grey;
}
h1{
    margin-top: 10px;
}
.body{
    margin-left:auto;
    margin-right : auto;
    width : 60%;
    padding : 20px;
}
.jumbotron{
    background-color : rgba(87,124,95,50);
    border-radius : 10px;
}
.navbar ul{
    padding-top:3px;
}